.CalculatorBtnCtn {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 50px);
}

.CalculatorBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  font-size: 2rem;
  cursor: pointer;
}
.CalculatorBtn:hover {
  text-shadow: 0 0 10px #fff;
}
